# Database Basics

In this labsheet, you will use a relational database as a data source rather than a file.

Please add your own notes into this file which you can upload as evidence to APTEM.

## Task 1 - Accessing data in a database

There are many relational databases from different vendors.  We will be using [MySQL](http://example.com/).

You need some software to be able to make the network connection between your machine and the database which is hosted on a Azure which is Microsoft's cloud hosting service.

Usually, for security reasons, you would never host a database directly on the public Internet. It would be extremely likely that someone with malicious intent would seek to gain access to that database or start a denial of service attack by trying to overload that service. Typically a database server would be hidden behind multiple files which only allow access from systems that need to access it.

For the purposes of this course I have exposed the database to the public Internet so that each of you can access the server from home or work. In our case the worst that could happen is that someone could tempt you with our data or take the server down. In which case I will create a new one and repopulate the data.  There is no confidential or private data stored on the server.

You will need to know the network address at which the database can be contacted. This is

dsda-mysql.mysql.database.azure.com

The network traffic that he sent from your computer to that server needs to be directed to a specific port.  Different applications listen to different ports. Example standard web traffic is usually on port 80.  Emails are sent on port 23.  MySQL, by defaul, listens on port 3306.  IANA (Internet Assigned Numbers Authority) maintain a huge [huge list](https://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.xhtml) of official port numbers.

So, we are going to contact the servcer on

dsda-mysql.mysql.database.azure.com:3306

You will also need some credential to access this server.  There are a variety of complex and very secure means of [authentication methods](https://dev.mysql.com/doc/dev/mysql-server/latest/page_protocol_connection_phase_authentication_methods.html) but for simplicty we will stick to a simple username and password.  As a data scientist, you need to become expert in accessing databases, but not necessarily in setting them up.  Leave that to the Ops team!

Your username for this excercise will be your Uon username (e.g. pszsk1) and your password will be your student number.

You are welcome to use any database access too you wish.  There is a database client built into PyCharm.  Later we will connect programmatically from python.  Whatever you use, they all will all minimally require the same info outlined above.  Server, Port, Username, Password.

To start with you can access the database using MySQL Workbench.  You can install this yourself, but it is available on the University of Nottingham [Virtual Desktop](https://www.nottingham.ac.uk/dts/communications/remote-working/virtual-desktop.aspx).

I've provided a video walkthrough which you can follow if it helps.

## Task 2 : Executing Queries

Now you have a connection, try run some SQL Queries.  Enter the query, and then execute it.  It will be sent to the server which will run the query and send the results back over the network.

Always remember when you connect to issue a `USE tyres` to specify which database you want to work with.

Have a look the tyres table to examine the fields and their data types.

`DESCRIBE tyres`

Start simple, and just select everything:

`SELECT * FROM tyres`

This query has no FROM clause so everything will be retrieved.

In general, you would like the hard work to be done on the server, and minimise the amount of network traffic resulting from lots of queries, so you usually specify a `WHERE` clause.

Let's say we'd like to find all the car models which have tyres with tubes in.

`SELECT Model, Submodel FROM tyres WHERE tyres.type = "Tube"`

It might be easier to see the results sorted.  This can be achieved using the `ORDER BY` clause.

`SELECT Model, Submodel FROM tyres WHERE tyres.type = "Tube" ORDER BY Model, Submodel`

You will now notice that there are duplicates.  Let's get rid of these as we aren't interested in every single row, we just want the distinct set of different models.

`SELECT DISTINCT Model, Submodel FROM tyres WHERE tyres.type = "Tube" ORDER BY Model, Submodel`

This is still quite a long list, so maybe we would like to see some summary information.  We could just count how many models have tubes.

`SELECT COUNT(DISTINCT Model, Submodel) FROM tyres WHERE tyres.type = "Tube" ORDER BY Model, Submodel`

But, now we've gone from too much detail to too little.  So, can we find out how many of each Model with Tubed tyres are there?  This time we can use GROUP BY clause which will summarise the counts by model.

`SELECT COUNT(*) FROM tyres WHERE tyres.type = "Tube" GROUP BY Model`

What do you notice?  We have the counts, but don't know what they relate to.  We need to specify the Model in the SELECT.

`SELECT Model, COUNT(*) FROM tyres WHERE tyres.type = "Tube" GROUP BY Model`

Can you change this query to sort the results table by the Model name, or the Count?

We have already shown how we can set conditions in the `WHERE` clause that need to be met, but can we set a conditon on summary statistics.  We can use the `HAVING` keyword. So if we're only interested in the models with more than 10 versions with tubed tyres, we can do this:

`SELECT Model, COUNT(*) FROM tyres WHERE tyres.type = "Tube" GROUP BY Model HAVING COUNT(*)>=10`

You can find lots more information about the `SELECT` statement at [www.w3schools.com](https://www.w3schools.com/mysql/mysql_select.asp).  Use this to find out how to change the sort order between ascending and descending order.

For full details, the `SELECT` statement is documented in the [MySQL Reference Manual](https://dev.mysql.com/doc/refman/8.0/en/select.html)

## Task 3: Create your own Queries

Hopefully you understood the queries above, and had the opportunity to play around with them and adjust them.

In this task you will come up with your own select statements to answer questions about the data.

1. Return the Tyre_Brand, SerialNo and Size of all tyres rated 4 or above.
2. Return all the columns for rows where the original price is differen from the selling price.
3. How many different tyre sizes are there?
4. How many vehicles with each tyre size are there?  Put them in descending order of size.